title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
    background: #046DD5;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: none;
}
span{
    background: #F4655F;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span.author{
    color: white;
    text-decoration-line: underline;
}
span.tags{
    color: white;
    text-decoration-line: underline;
}
a.comments{
    color: white;
    text-decoration-line: underline;
}
#related{
    background: #2A2F33;
}